.type-normal { color: #A8A77A; }   /* Normal */
.type-fire { color: #EE8130; }     /* Fuego */
.type-water { color: #6390F0; }    /* Agua */
.type-electric { color: #F7D02C; } /* Eléctrico */
.type-grass { color: #7AC74C; }    /* Planta */
.type-ice { color: #96D9D6; }      /* Hielo */
.type-fighting { color: #C22E28; } /* Lucha */
.type-poison { color: #A33EA1; }   /* Veneno */
.type-ground { color: #E2BF65; }   /* Tierra */
.type-flying { color: #A98FF3; }   /* Volador */
.type-psychic { color: #F95587; }  /* Psíquico */
.type-bug { color: #A6B91A; }      /* Bicho */
.type-rock { color: #B6A136; }     /* Roca */
.type-ghost { color: #735797; }    /* Fantasma */
.type-dragon { color: #6F35FC; }   /* Dragón */
.type-dark { color: #705746; }     /* Siniestro */
.type-steel { color: #B7B7CE; }    /* Acero */
.type-fairy { color: #D685AD; }    /* Hada */
